# ===================================
# VARIABLES DE ENTORNO FRONTEND
# ===================================

# URLs de microservicios
VITE_OPERATOR_URL=http://localhost:3004
VITE_CONFIG_URL=http://localhost:3003
VITE_SHIPPING_URL=http://localhost:3001
VITE_STOCK_URL=http://localhost:3002

# URL principal (para compatibilidad)
VITE_API_URL=http://localhost:3004
