# Database Configuration
DATABASE_URL="postgresql://username:password@host:port/database?schema=public"
DIRECT_URL="postgresql://username:password@host:port/database?schema=public"

# Service Configuration
PORT=3004
NODE_ENV=production

# CORS Configuration
CORS_ORIGIN=http://144.22.130.30:5173

# External Services
STOCK_API_BASE_URL=http://stock.ds.frre.utn.edu.ar:3000

